.selectSite {
    overflow: hidden;
    padding: 1em;
    color: "[theme:bodyText, default: #323130]";
}

.fieldUp {
    text-align: center;
    padding-bottom: 20px;

}

.fieldDown {
    text-align: center;
}