<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mmospfxsecsamplefunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/59ba8c07-5e8d-4b7f-8169-c9c081cd91cf/resourcegroups/DefaultMMO/providers/Microsoft.Web/sites/mmoSPFxSecSampleFunction</ResourceId>
    <UserName>$mmoSPFxSecSampleFunction</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://mmospfxsecsamplefunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>